/* Regular */
@font-face {
	font-family: 'sk-modernist';
	src: url('Sk-Modernist-Regular/sk-modernist-regular.woff2') format('woff2'),
       url('Sk-Modernist-Regular/sk-modernist-regular.woff') format('woff'),
       url('Sk-Modernist-Regular/sk-modernist-regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'sk-modernist';
    src: url('Sk-Modernist-Bold/sk-modernist-bold.woff2') format('woff2'),
       url('Sk-Modernist-Bold/sk-modernist-bold.woff') format('woff'),
       url('Sk-Modernist-Bold/sk-modernist-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}